body{
    margin: 2%;
    border: 1px solid black;
    background-color: darkgray;
}
#image{
    width: 400px;
    height: 250px;
    border:10px solid black;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin:0 auto;
    background-color: sienna;
    background-image: url('mypic');
    background-repeat: no-repeat;
    background-position:centre;
    background-size: 100%;
    margin-top: 25px;
    margin-bottom:25px;
    font-weight: bold;
    text-align: centre;
    font-size: 30px;
    display:flex;
    justify-content:centre;
    align-items:centre;
}
.preview{
    display:grid;
    grid-auto-flow:column;
    grid-auto-column: 80px;
    grid-auto-height: 120px;
    gap:10px;
    margin:15px;
    padding:15px;
    justify-content:centre;
    border: 10px solid black;
    border-radius:10px;
}

    
